<section class="userpage" ng-scope>
  <div class="search cf">
    <h2>Search Check-ins</h2>
    <input type="text" ng-model="query" placeholder="Search for users" autofocus>

    <div class="formgroup cf">
      <span class="label">by:</span>
      <select ng-model="order">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="date">Date</option>
      </select>
    </div> <!-- search by formgroup -->

    <div class="formgroup cf">
      <input id="dirascending" type="radio" ng-model="direction" name="direction" checked>
      <label for="dirascending">asc</label>
      
      <input id="dirdescending" type="radio" ng-model="direction" name="direction" value="reverse">
      <label for="dirdescending">desc</label>
    </div> <!-- radio formgroup -->

    <div class="buttons cf" ng-show="signedIn()">
      <button ng-show="limit > 1" class="btn btn-pick" ng-click="pickWinner()">Pick Random</button>
      <button ng-show="limit == 1" type='button' class="btn btn-reset" ng-click="resetCheckins()">Reset</button>
    </div> <!-- buttons -->

  </div> <!-- search -->

  <div class="checkinslist">
    <h1>Check-ins</h1>
    <p>Here's a list of your latest check-ins.</p>
    
    <ul class="userlist cf">
      <li ng-class="checkin.userState" ng-repeat="checkin in checkins | orderBy:order:direction | limitTo:limit | filter: query">
          <!-- <img ng-src="images/{{checkin.firstname}}_tn.jpg" alt="Photo of {{checkin.firstname}}  {{checkin.lastname}}"> -->
          <div class="checkin">
            <div class="buttons" ng-show="signedIn()">
              <button class="btn btn-love tooltip" ng-click="showLove(checkin)"><span>Show the love</span></button>
              <button class="btn btn-delete tooltip" confirmation-needed="Delete this checkin?" ng-click="deleteCheckin(checkin.$id)"><span>Delete this check-in</span></button>
            </div><!-- buttons -->
            <div class="info">
              <h2>{{checkin.firstname}} {{checkin.lastname}}</h2>
              <span class="date">{{checkin.date | date:"MMM d, yy h:mm a"}}</span>
            </div><!-- info -->
            <div class="showcheckins" ng-show="checkin.show">

              <form class="cf"
                ng-submit="giveLove(checkin, checkin.giftText)"                
                novalidate>
                  <input type="text" name="giftText" placeholder="What are you giving them?" autofocus
                  ng-model="checkin.giftText" ng-required="true">
                <button type="submit" class="btn" ng-disabled="myform.$invalid">+</button>
              </form>

              <p ng-show="checkin.awards.length > 0">Dude</p>

              <ul class="awardslist cf">
                <li class="cf" ng-repeat="award in checkin.awards">
                    <div>{{award.name}}
                      <button class="btn btn-delete tooltip" confirmation-needed="Delete this checkin?" ng-click="deleteAward(checkin.$id, award.$id)"><span>Delete this award</span></button>
                    </div>
                </li>
              </ul>

              
            </div><!-- showcheckins -->
          </div><!-- checkin -->
      </li>
    </ul><!-- userlist -->
  </div><!-- checkinslist -->
</section>
