<section class="userpage" ng-scope>
  <h2>Checked in Users</h2>
  <label>search: </label>
  <input ng-model="query" placeholder="Search for users">

  <ul class="userlist">
    <li class="user" ng-repeat="user in users | filter: query">
      <a href="#/edit/{{user.$id}}">
        <!-- <img ng-src="images/{{user.firstname}}_tn.jpg" alt="Photo of {{user.firstname}}  {{user.lastname}}"> -->
        <div class="info">
          <h2>{{user.keys()}}{{user.firstname}} {{user.lastname}}</h2>
          <h3 class="date">{{user.date | date:"MMM d, yy h:mm a"}}</h3>
        </div>
      </a>
    </li>
  </ul>  
</section>
