<section class="userpage" ng-scope>
  <h2>Checked in Users</h2>
  <label>search: </label>
  <input ng-model="query" placeholder="Search for users">

  <ul class="userlist">
    <li class="checkins" ng-repeat="checkin in checkins | filter: query">
        <!-- <img ng-src="images/{{checkin.firstname}}_tn.jpg" alt="Photo of {{checkin.firstname}}  {{checkin.lastname}}"> -->
        <div class="checkin">
          <h2>{{checkin.firstname}} {{checkin.lastname}}</h2>
          <h3 class="date">{{checkin.date | date:"MMM d, yy h:mm a"}}</h3>
          <button class="btn" ng-click="deleteCheckin(checkin.$id)">-</button>
        </div>
    </li>
  </ul>  
</section>
