  <form 
    name="myform"
    ng-submit="editLove()"
    novalidate>
      <h1>Give some love</h1>
      <p>Fill out this form to give the user some love or <a ng-href="#/checkins/{{user}}/{{key}}">back to meetings</a></p>

      <textarea name="love" placeholder="What do you want to give?"
        ng-model="user.love" ng-required="true"></textarea>
      <p class="valfeedback" ng-show="myform.love.$invalid && myform.love.$touched">Must be a valid email</p>

    <button type="submit" class="btn" ng-disabled="myform.$invalid">Give</button>


  </form>
